html{
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background:white;
    animation: gradient 5s linear 2s infinite alternate;
}

#images{
    display:flex;
    flex-wrap:wrap;
}

#myName{
    
}

/*@keyframes gradient {*/
/*    from{*/
/*        background: white;*/
/*    }*/
/*    to{*/
/*        background: black;*/
/*    }*/
/*}*/

.row{   
    
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    display:flex;
    justify-content: space-around;
    background-color:white;
    color:black;
    align-items:center;
    font-size:20px;
    margin-top:35px;
    margin-bottom:5px;
    background:white;
    animation: footer 5s linear 2s infinite alternate;
}
.aboutme{
    border-radius:50px;
    border:3px solid black;   
    color:black;
    background:white;
    animation: footer 5s linear 2s infinite alternate;
    padding: 10px;
}
.header{
    color:black;
    background:white;
    animation: footer 5s linear 2s infinite alternate;
    margin-bottom:60px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

/*@keyframes footer{*/
/*    from{*/
/*        color:black;*/
/*        background:white;*/
/*    }*/
/*    to{*/
/*        color:white;*/
/*        background:black;*/
/*    }*/
/*}*/


.item{
    text-align:center;
    width:125px;
    height:30px;
    transition: 2s;
    border:solid 2px cyan;
    color: white;
    background: black;
    padding:0px;
    z-index: 1;
}
.item:hover:not(.expanded){
    position:relative;
    padding: 30px;
    height: 150px;
}
.expanded{
    position: relative;
}
.hidden{
    display:none;
}
.image{
    width:1000px;
    height:600px;
    text-align:center;
}


#headPic{
    display:none;
}

#image, #headPic{
    border-radius: 50%;
    border: green solid;
}
.contact{
    display:flex;
    justify-content:space-around;
}
.ct{
    position:relative;
    background:yellow;
    margin-bottom: 20px;
    color:black;
    text-align:center;
}

#mainCont{
    border: solid white 1px;
    margin: 20px;
    border-radius: 9px;
}

.scrollable{
    overflow:scroll;
}

.fixed{
    position:fixed;
}

#portfolio, #contacter{
    text-align: left;
}

.link{
    color:white;
}

/* projectList */
#projectList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectPic{
    width: 300px;
    height: 300px;
}